<script defer src="/javascripts/retrieveAlunos.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/alunos.css"/>

<h1>Made in Ohio.</h1>
<a href="https://www.youtube.com/watch?v=d7r9899NtUk">national anthem</a>

<button id="getalunos" onclick="buscaAlunosDaTurmaX('1')" >get alunos</button>