
<link rel="stylesheet" type="text/css" href="/stylesheets/alunos.css"/>

<h1>Lista de Alunos</h1>


<ul>
    <% alunos.forEach(function (user) { %>
        <li>  
            <span><%= user.nome_aluno %> - <%= user.nome_ee %></h1>  </span>
        
        </li>                                   
    <% }) %>
  </ul>