<link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/homepage.css" />

<div class="logoutnbtn">
    <form action="/logout" method="post">
        <button class="btnlog" type="submit">
            <img class="iconbtn" src="http://localhost:3000/assets/account.png" />
        </button>
    </form>
</div>

<div class="rowclasses">
    <div class="classblock">
        <h1 class="classborder">
            6ยบ1
        </h1>
    </div>
    <div class="classblock">
        <h1 class="classborder">
            6ยบ2
        </h1>
    </div>
    <div class="classblock">
        <h1 class="classborder">
            6ยบ3
        </h1>
    </div>
</div>