<link rel="stylesheet" href="/stylesheets/homepage.css" type="text/css" />

<div class="navbar">
    <form action="/logout" method="post">
        <button class="btnlog" type="submit">
            <img class="iconbtn" src="/assets/logout.png" />
        </button>
    </form>
</div>




<h1 class="classesText">As minhas turmas</h1>
<section>
    <div class="classesContainer">
        <div class="row">

            <div class="col-md-3">
                <div class="card profile-card-1" onclick="window.location='/homepage/D/1/alunos'">
                    <img src="/assets/red1.jpg" class="background" />
                    <p class="profile"> 6ยบ1</p>
                </div>
                <div class="card profile-card-1" onclick="window.location='/homepage/D/2/alunos'">
                    <img src="/assets/mix.jpg" class="background" />
                    <p class="profile"> 6ยบ2</p>
                </div>
                <div class="card profile-card-1" onclick="window.location='/homepage/D/3/alunos'">
                    <img src="/assets/mix.jpg" class="background" />
                    <p class="profile"> 6ยบ3</p>
                </div>
            </div>
        </div>
    </div>
</section>