<%- include('./layout.ejs') %>

<nav>


</nav>
<h1>authenticated oment</h1>
<form action="/logout" method="post">
    <button style=" width:30px; height:30px; margin-right:5px ;" type="submit">LOGOUT</button>
</form>

