<link rel="stylesheet" href="/stylesheets/homepage.css" type="text/css"/>

<div class="logoutnbtn">
    <form action="/logout" method="post">
        <button class="btnlog" type="submit">
            <img class="iconbtn" src="/assets/account.png" />
        </button>
    </form>
</div>

<div class="rowclasses">
    <div class="classblock" onclick="window.location='/homepage/D/alunos'">
        <h1 class="classborder" >
            6ยบ1
        </h1>
    </div>
    <div class="classblock">
        <h1 class="classborder" onclick="window.location='/homepage/D/alunos'">
            6ยบ2
        </h1>
    </div>
    <div class="classblock">
        <h1 class="classborder" onclick="window.location='/homepage/D/alunos'">
            6ยบ3
        </h1>
    </div>
</div>