

<link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/homepage.css" />

<div class="logoutnbtn">
<form  action="/logout" method="post">
    <button  class="btnlog" type="submit">
      <img  class="iconbtn" src="http://localhost:3000/assets/account.png" />
    </button>
    
</form>
</div>


  <row class="rowclasses">
    <div class="classblock">A</div>
  </row>
