<link rel="stylesheet" type="text/css" href="/stylesheets/alunos.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/mensagens.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="headerBar">
	<div class="headerLeft">
		<img class="backIcon" src="/assets/goBack.png" onclick="window.history.back()" />
		</p>
	</div>
	<div>
		<form action="/logout" method="post">
			<button class="btnlog" type="submit">
				<img class="iconbtn" src="/assets/logout.png" />
			</button>
		</form>
	</div>
</div>
<p></p>
<div class="container">
	<div class="messaging">
		<div class="inbox_msg">
			<div class="inbox_people">
				<div class="headind_srch">
					<div class="recent_heading">
						<h4>Contactos</h4>
					</div>
					<div class="srch_bar">
						<div class="stylish-input-group">
							<input type="text" class="search-bar" placeholder="Procurar">
							<span class="input-group-addon">
								<button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
							</span>
						</div>
					</div>
				</div>
				<div class="inbox_chat">
					<% docentes.forEach(function (docente) { %>
					<div class="chat_list active_chat" onclick="window.location='http://localhost:3000/homepage/EE/1/mensagens' + '/<%= docente.docente_id%>'">
						<div class="chat_people">
							<div class="chat_ib">
								<h5> <%= docente.nome %> </h5>
							</div>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
</div>