<link rel="stylesheet" type="text/css" href="/stylesheets/alunos.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/relatorios.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="headerBar">
    <div class="headerLeft">
        <img class="backIcon" src="/assets/goBack.png" onclick="window.location='/homepage/D/1/alunos'" />
        <p class="headerText">Lista de Relat贸rios do aluno(a) <%= aluno %>
        </p>
    </div>
    <div>
        <form action="/logout" method="post">
            <button class="btnlog" type="submit">
                <img class="iconbtn" src="/assets/logout.png" />
            </button>
        </form>
    </div>
</div>


<div class="newRelatorio">
    <button type="button" class="btn btn-primary" onclick="window.location=window.location.href+'/new'">Criar novo
        relat贸rio</button>
</div>

<p class="historyText">Hist贸rico de Relat贸rios</p>
<ul>

    <% relatorios.forEach(function (rel) { %>
        <li>
            <div class="spanRelatorio urgente<%= rel.urgente %>">
                <button class="data" onclick="window.location=window.location.href + '/<%= rel.id%>'">
                    <%= rel.data %>
                </button>
            </div>
        </li>
        <% }) %>
</ul>