.iconbtn {
    width: 40px;
    height: 40px;
    cursor: pointer;

}

.backIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}

.logoutbtn {
   
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}

.headerLeft{
    display: flex;
    gap:10px;

}

.btnlog {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background: rgb(204, 225, 239);
    border-radius: 10%;
    margin-top: 10px;

}

.headerBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.headerText{
    font-size: 28px;
    margin-top: 15px;
}

.btnUser{
    margin-left: 10%;
    align-items: center;
    
}

.textUser{
    font-size: 20px;
    margin-left: 200px;
    width: 800px;
    align-items: center ;
    background-color: rgb(255, 255, 255);
}

.spanUser{
    
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  
  ul li {
    border: 1px solid rgb(80, 125, 185); /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #ffffff; /* Add a grey background color */
    padding: 12px; /* Add some padding */
    border-radius: 1%;

  }