@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.navbar {
    background-color: rgb(238, 248, 248);
    margin-top: -10;
    margin-left: -10;
    margin-right: -8;

}

.iconbtn {
    width: 30px;
    height: 30px;
    cursor: pointer;

}


.logoutbtn {

    width: 40px;
    height: 40px;
    cursor: pointer;

}

.btnlog {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: rgb(222, 230, 235);
    border-radius: 10%;
    margin-top: 5px;
    margin-left: 95%;
    margin-bottom: 5px;

}


.classesText {
    margin-right: 60%;
    font-family: Helvetica ;
}



@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

body {
    font-family: ' OpenSans', sans-serif;
}


.classesContainer {

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
   
    margin: 0 auto;
    justify-content: center;
}


/*Profile Card 1*/
.profile-card-1 {
    border: 1px solid black;
    position: relative;
    float: left;
    overflow: hidden;
    width: 300px;
    color: #ffffff;
  
    height: 150px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;

}

.profile-card-1 .background {
    width: 100%;
    vertical-align: top; 
    opacity: 0.9;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.8);
    cursor: pointer;
}

.profile-card-1 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    left: 40%;
    
    font-size: 30px;
    margin: 0 auto;
    
}