.urgentetrue {
    background-color: coral;
}

.iconbtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 1%;
}

.logoutbtn {
    margin-left: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btnlog {
    width: 50px;
    height: 50px;
    margin-left: 90%;
    padding: 0;
    border: none;
    background: rgb(235, 192, 217);
    border-radius: 20%;
}

.btnSubmit {
    width: 50px;
    height: 50px;
    margin-left: 95%;
    padding: 0;
    border: none;
}

.btnSave {
    width: 50px;
    height: 50px;
    margin-left: 85%;
    padding: 0;
    border: none;
}

.btnUrgent {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    padding: 0;
    border: none;
}

