.urgentetrue {
    background-color: rgb(237, 84, 33);
}

.newRelatorio {
    margin: 0 auto;
    width: fit-content;
    margin-top: 15px;
}


.btnSubmit {
    width: 50px;
    height: 50px;
    margin-left: 95%;
    padding: 0;
    border: none;
}

.btnSave {
    width: 50px;
    height: 50px;
    margin-left: 85%;
    padding: 0;
    border: none;
}

.btnUrgent {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    padding: 0;
    border: none;
}


/*form relatorio*/

.ContainerRelatorio {
    margin: 0 auto;
    width: 1000px;
    background-color: rgb(215, 211, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.formText {
    font-size: 28px;
}